[project]
	description = Automatically exported from code.google.com/p/android-protips-location
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dheerajkumaryadav
[access "refs/for/refs/*"]
	read = group user/dheerajkumaryadav
	push = group user/dheerajkumaryadav
	label-Code-Review = -2..+2 group user/dheerajkumaryadav
	label-Verified = -1..+1 group user/dheerajkumaryadav
	rebase = group user/dheerajkumaryadav
	removeReviewer = group user/dheerajkumaryadav
	submit = group user/dheerajkumaryadav
[access "refs/heads/*"]
	read = group user/dheerajkumaryadav
	create = group user/dheerajkumaryadav
	push = +force group user/dheerajkumaryadav
	pushMerge = group user/dheerajkumaryadav
[access "refs/tags/*"]
	push = +force group user/dheerajkumaryadav
	pushTag = group user/dheerajkumaryadav
	pushSignedTag = group user/dheerajkumaryadav
